
      <% @ticker =  StockQuote::Stock.quote(@stock.ticker) %>

        <% if !@ticker %>
            The ticker:  <%= stock.ticker %> <br/> does not exist!

        <% else %>
            <% @logo = StockQuote::Stock.logo(@stock.ticker)%>
            <img src="<%= @logo.url %>"><br/><br/>
            
            <%  @info = StockQuote::Stock.company(@stock.ticker) %>   <br/>

<div class="jumbotron">

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> <%= @ticker.company_name %> </h5>
        <p class="card-text">   Symbol: <%= @ticker.symbol %>  <br/>
                                Primary Exchange: <%= @ticker.primary_exchange %>  <br/> <br/>
                                Latest Price:  $ <%= @ticker.latest_price  %> <br/>
                                Previous Close:  $ <%= @ticker.previous_close  %> <br/>
                                Percentage Change:  <%= number_to_human(@ticker.change_percent) %> <br>

                                YTD Change:  <%= number_to_human(@ticker.ytd_change) %> <br/>
                                Market Cap: $ <%= number_to_human( @ticker.market_cap) %>  <br/>
                                PE Ratio: <%= @ticker.pe_ratio %>  <br/>
                                52 Week High: $ <%= @ticker.week52_high %>  <br/>
                                52 Week Low: $ <%= @ticker.week52_low %>  <br/>
                                Average Total Volume: <%= number_to_human(@ticker.avg_total_volume) %>  <br/>
                                Calculation Price: <%= @ticker.calculation_price %>  <br/>
                                Latest Volume: <%= number_to_human(@ticker.latest_volume) %>  <br/> 
        </p>

       
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header"> <%= @info.website %> </div>
      <div class="card-body"> 
            <h6 class="card-title"> <%= @info.industry %> </h6> 
        <p class="card-text">  <%= @info.description %>   </p>

        </div>
      </div>
    </div>
  </div>
</div>

        <% end %>
 
          <br/> <br/>

      <%= link_to '<< Back', stocks_path, class: "btn btn-outline-secondary" %>  | 
      <%= link_to 'Edit', edit_stock_path(@stock), class: "btn btn-outline-secondary" %> 
