
   
   <br/>



  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b1c5fc;">
    <%= link_to "MyStocks", root_path,  class: "navbar-brand" %>   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
      <%= link_to "About-Me", home_about_path, class: "navbar-brand" %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
        <%= link_to "Edit-Profile", edit_user_registration_path, class: "navbar-brand" %>
        </li>

        <li class="nav-item">
        <%= link_to "Show-Stocks", stocks_path, class: "navbar-brand" %>
        </li>

        <li class="nav-item">
        <%= link_to "Add-Stock", new_stock_path, class: "navbar-brand" %>
        </li>
        
        <li class="nav-item">
          <%= link_to "Log-Out", destroy_user_session_path, method: :delete, class: "navbar-brand" %>
        </li>
      <% else %>
          <li class="nav-item">
          <%= link_to "Sign-Up", new_user_registration_path, class: "navbar-brand" %>
          </li>

          <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "navbar-brand" %>
          </li>
      <% end %>
    </ul>
    
  </div>
 </nav>

